<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MeteorX.AssTools.KaraokeApp.Properties.Settings.AvsMaskConnectionString"
            connectionString="Data Source=xx-laptop\sqlexpress;Initial Catalog=AvsMask;Persist Security Info=True;User ID=sa;Password=asdfjkl"
            providerName="System.Data.SqlClient" />
        <add name="MeteorX.AssTools.KaraokeApp.Properties.Settings.AvsMaskConnectionString1"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=AvsMask;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>